<form action="/register" method="POST">
  <input type="text" placeholder="Enter your username" required="true" name="userName">
  <input type="password" placeholder="Enter your password" required="true" name="password">
  <button type="submit">Create user</button>
</form>